<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Het Nederland van...</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="home">
   

   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="custom-bootstrap-menu" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-new-window"></i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Het Nederland van</a>
                    </li>
                    <li>
                        <a href="#">Info</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div id="overlay" onclick="closeNav()">
        <div id="overlay-container" class="container">
        
            <div class="row firstrow">
                <div class="col-md-6 col-sm-12">
                    <img src="assets/images/intro-1.png" class="intro-1">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>Geen gebrek aan plannen en informatie voor de komende verkiezingen</h2>
                    <p>Weet jij wat er precies te kiezen valt straks bij de verkiezingen in maart? 
Politici roepen van alles op tv, in de Kamer, op social media en in hun partijprogramma's, maar wat betekenen al hun plannen voor jouw leven?</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>Maar hoe ziet jouw toekomst er eigenlijk uit?</h2>
                    <p>Wij kijken graag naar het grote plaatje - letterlijk. Daarom gingen we met de politieke partijen aan de slag om 'hun' Nederland te tekenen. Wat is hun visie?
De tekeningen op deze site tonen je de verschillende versies van Nederland waar je in maart voor kunt kiezen. Waar voel jij je thuis?</p>
                   
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="assets/images/intro-2.png" class="intro-2">
                </div>
            </div>
        </div>
    </div>
        

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2 col-sm-12">
            
                <div class="thumbnail">
                    <img src="assets/images/groenlinks.jpg" class="logo" alt="...">
                    <hr>
                    <div class="caption">
                        <h3>Groenlinks</h3>
                        <p> <a href="#" class="btn btn-default" role="button">Klik hier</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                <div class="thumbnail">
                    <img src="assets/images/vvd.jpg" class="logo" alt="...">
                    <div class="caption">
                        <h3>VVD</h3>
                        <p> <a href="#" class="btn btn-default" role="button">Klik hier</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                <div class="thumbnail">
                    <img src="assets/images/cda.jpg" class="logo" alt="...">
                    <div class="caption">
                        <h3>CDA</h3>
                        <p> <a href="#" class="btn btn-default" role="button">Klik hier</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                <div class="thumbnail">
                    <img src="assets/images/cda.jpg" class="logo" alt="...">
                    <div class="caption">
                        <h3>ChristenUnie</h3>
                        <p> <a href="#" class="btn btn-default" role="button">Klik hier</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                <div class="thumbnail">
                    <img src="assets/images/cda.jpg" class="logo" alt="...">
                    <div class="caption">
                        <h3>D66</h3>
                        <p> <a href="#" class="btn btn-default" role="button">Klik hier</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                            PvdA
            </div>
        </div>         
         <div class="row">
            <div class="col-md-6 col-lg-2 col-sm-12">
                            PvdA
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                            PvV
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                            SGP
            </div>
            <div class="col-md-6 col-lg-2 col-sm-12">
                            PvdD
            </div>
        </div>                
    </div>    
      



    <!-- /.container -->


    

     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascript/bootstrap.js"></script>

    <script>
        function openNav() {
            $("#overlay").hide();
            $("#overlay-container").children().hide(); 
        }

        function closeNav() {
            $("#overlay").hide();
        }
    </script>
</body>
</html>

